@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand-50: #f0fdff;
  --color-brand-100: #e0f7fc;
  --color-brand-500: #81ecff; /* Electric Blue/Cyan */
  --color-brand-600: #00e3fd; /* Cyber-Cyan */
  --color-brand-950: #07090C; /* Deep Obsidian Void */
  
  --color-amethyst-500: #9f8eff; /* Electric Purple/Amethyst */
  --color-amethyst-600: #7459f7;
  
  --color-obsidian-950: #07090C;
  --color-obsidian-900: #0c0e11;
  --color-obsidian-800: #111417;
  --color-obsidian-700: #171a1e;
  --color-obsidian-600: #1d2024;
  --color-obsidian-500: #23262b;
}

